#calendar-nav{
    background-color: transparent;
}

#calendar-header-img{
    height: 40px;
    text-align: left;
    padding-left: 0;
}

#calendar-header{
    text-align: left;
    float: left;
}

#calendar-title{
    margin: 0;
    font-weight: bold; 
    font-family: 微软雅黑;
    padding-top: 5px;
    text-align: center;
}

#calendar-tab-nav{
    margin: 0 auto;
    padding: 16px;
}

#calendar-tab-class{
    font-size: medium;
    padding: 5px;
}
